* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: barlow, sans-serif;
    
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #000B03, #00A627);
    height: 100vh;
}

.login-box img {
    align-items: center;
    margin-top: 23vh;
    height: 25%;
    width: 16%;
}

.user-box {
    left: 40%;
    display: block;
    width: 40vh;
    height: 5vh;
    background-color: #d9d9d9;
    border-radius: 100px;
    margin-top: 2%;
    padding-right: 5.2vh;
    position: relative;
}
.login-box input::placeholder{
    position: absolute;
    width: 100%;
    color: #676767;
    pointer-events: none;
    transition: .5;
    margin-top: .4vh;
    font-size: 2.7vh;
    text-align: center;
}
.login-box a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 5vh;
    font-weight: 550;
    box-sizing: border-box;
    margin-top: 2%;
}

.login-box .user-box input {
    position: absolute;
    width: 85%;
    font-size: 3vh;
    border: none;
    background: transparent;
    outline: none;
    margin-top: .6vh;
    margin-left: -15vh;
}

.login-box .user-box label {
    position: absolute;
    width: 100%;
    color: #676767;
    pointer-events: none;
    transition: .5;
    margin-top: 1.2vh;
    font-size: 2.5vh;
    text-align: center;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: 0;
    left: 0;
    cursor: pointer;
}

.confirm {
    height: 17%;
    width: 8%;
    right: 2%;
    position: fixed;
}
.confirm a:hover{
    opacity: 0;
}

@media screen and (max-width: 1024px){
    .user-box{
        left: 24%;
        margin-top: 5%;
    }
    .login-box img{
        height: 45%;
        width: 40%;
    }
    .confirm {
        height: 10%;
        width: 13%;
        bottom: 10%;
    }
    .login-box .user-box label{
        margin-left: 0;
    }
    .login-box .user-box input{
        width: 85%;
    }
}
@media screen and (max-width: 430px) {
    .user-box{
        left: 20%;
        width: 30vh;
    }
    .login-box .user-box label {
        font-size: 2.3vh;
        margin-left: 0;
    }
    .login-box .user-box input {
        font-size: 3vh;
        margin-left: -10vh;
        width: 85%;
    }
    .login-box a{
        font-size: 3vh;
        margin-top: 2vh;
    }
    .confirm{
        width: 20%;
        height: 10%;
    }
    
}